<% candidate = application.candidate %>
<section class="row candidate-selected" id="intro">
  <div class="col-lg-2 col-md-2">
    <%= image_tag candidate.avatar_url, class: "img-responsive", height: 100, width: 100 %>
  </div>
  <div class="col-lg-7 col-md-7 candidate-name-rating">
    <h4 class="mt-0"><%= candidate %></h4>
    <section class="stars" id="star-rating">
      <% 5.times do |i| %>
      <% star = application.rating >= 5 - i ? "★" : "☆" %>
      <%= link_to star, "application_rating_path(application, rating: (5 - i))", method: :put, remote: true %>
      <% end %>
    </section>
    <div id="stars" class="stars"></div>
    <small class="text-muted skills">Top Skills: Marketing, SEO, Social Media and 3 more</small>
  </div>
  <div class="col-lg-3 col-md-3">
    <div class="btn btn-success btn-sm" data-toggle="modal" data-target="#applicationStatus">
      <%= icon "video-camera" %> Video Pitch
    </div>
  </div>
</section>

<section class="row mt-10">
  <p class="quote col-md-12">"This candidate has great skills but lacks the right educational background"</p>
</section>

<section class="row" id="profiles">
  <%= link_to "https://github.com/Abhra1992", class: "github" do %>
    <span class="text-muted col-md-12"><%= icon "github-square" %> 19 Followers</span>
  <% end %>
  <%= link_to "http://in.linkedin.com/in/abhrabasak", class: "linkedin" do %>
    <span class="text-muted col-md-12"><%= icon "linkedin-square" %> 7 Recommendations</span>
  <% end %>
  <%= link_to "https://quora.com/Abhra-Basak", class: "quora" do %>
    <span class="text-muted col-md-12"><%= icon "bitbucket-square" %> 51 Answers</span>
  <% end %>
  <%= link_to "https://twitter.com/abhra_basak", class: "twitter" do %>
    <span class="text-muted col-md-12"><%= icon "twitter-square" %> 250 Tweets</span>
  <% end %>
</section>

<%# render "companies/application/attachments" %>
<%# render "companies/application/messages_notes", application: application %>