<section class="company-card row">
  <div class="col-md-12">
    <h1><%= company %></h1>
    <address>
      <%= company.address %><br/>
      <%= company.city %>, <%= company.state %> <%= company.zip %>
    </address>
    <h4>Openings</h4>
    <ul class="list-group">
      <% positions.each do |p| %>
      <li class="position list-group-item">
        <%= link_to p, p, class: ((@applied and p.id.in? @applied) ? "text-success" : "text-info") %>
        <span class="badge"><%= p.count %></span>
      </li>
      <% end %>
    </ul>
  </div>
</section>