<section class="company-card">
  <div class="container-fluid">
    <h1><%= company %></h1>
    <address>
      <%= company.address %><br/>
      <%= company.city %>, <%= company.state %> <%= company.zip %>
    </address>
    <h4>Openings</h4>
  </div>
</section>