<section class="companies-show container-fluid">
  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-stacked col-md-2 col-sm-12">
    <li class="active">
      <%= link_to "#welcome", "data-toggle" => "tab" do %>
        <%= icon "home" %> Welcome
      <% end %>
    </li>
    <% if @view_openings %>
    <li>
      <%= link_to "#openings", "data-toggle" => "tab" do %>
        <%= icon "briefcase" %> Openings
      <% end %>
    </li>
    <% end %>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content well col-md-10 col-sm-12">
    <div class="tab-pane fade in active" id="welcome">
      <%= render 'card', company: @company, positions: @positions %>
    </div>
    <% if @view_openings %>
    <div class="tab-pane fade" id="openings">
      <section class="row">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="select-opening" class="col-md-2 control-label">Select Opening</label>
            <div class="col-md-4">
              <select class="form-control" id="select-opening">
                <%= options_for_select(@company.position_selector) %>
              </select>
            </div>
          </div>
        </form>
      </section>
      <section class="application-info actions row">
        <div class="col-md-12">
          <ul class="list-inline">
            <li><strong>Actions:</strong></li>
            <li><a href="#send-message" class="scroll">Send Message</a></li>|
            <li><a href="#" data-toggle="modal" data-target="#applicationStatus">Move to stage 1</a></li>|
            <li><a href="#">Delete</a></li>|
            <li><a href="#notes" class="scroll">Add note</a></li>
          </ul>
        </div>
      </section>
      <section class="row details" id="details">
        <% position = @positions[0] %>
        <div class="col-md-3 filter" id="filter">
          <%= render 'filter', applications: position.applications %>
        </div>
        <div class="col-md-9 description review" id="description">
          <%= render 'companies/application/review', application: position.applications[0] %>
        </div>
      </section>
    </div>
    <% end %>
  </div>
</section>
